<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../views/style.css">
   <style>
       .inner-div{
           border: 1px black dotted;
           width: 200px;
       }
       .inner-div:nth-child(2n){
           background-color: lightblue;
       }
   </style>
    <title>Products</title>
</head>
<body>
    <h1>Hello you are in products0</h1>
    <button id="button">click me</button>
    <div>
      <% for(product of products){ %>
        <div class="inner-div">
        <div>the tag <%= product.tag %> </div>
        <div>the title is <%= product.title %></div>
        <div>the const is <%= product.cost %></div> 
    </div>
    <a href="product/delete/<%=product.id%>">delete</a>
    <a href="product/update/<%=product.id%>">update</a>
    <% } %> 
<a href="product/add-new">Add new product</a>
    </div>
</body>
</html>