<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding new</title>
</head>
<body>
    <h1>Change <%=chosen[0].tag%></h1>

    <form action="prod-update/<%=chosen[0].id%>?_method=PATCH" method="post">
        <div>
        <label for="tag">Give tag name</label>
        <input type="text" name="tag" id="tag" placeholder="<%=chosen[0].tag%>" value="<%=chosen[0].tag%>">
    </div>
        <div>
        <label for="title">Give title name</label>
        <input type="text" name="title" id="title" placeholder="<%=chosen[0].tiltle%>" value="<%=chosen[0].tiltle%>">
    </div>
        <div>
        <label for="cost">Give a cost/label>
        <input type="text" name="cost" id="cost" placeholder="<%=chosen[0].cost%>" value="<%=chosen[0].cost%>">
    </div>
    <div>
        <label for="body"> give content:</label>
        <textarea name="body" id="body" cols="5" rows="5"> <%=chosen[0].body%></textarea>
    </div>
    <button> Click to submit</button>
    </form>

    <a href="/product/back-home">back to home</a>
    
</body>
</html>