<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% let i = 0 %>
    <h1>Name: <%= data.student.name %></h1>    
    <br>
    <div>
        <% for(skill of data.skills) { %>
            <h2><%= skill.skill %></h2>
            <% let results = data.student.skills[i].questions %>            
            
            <!-- <form action="updateResult" method="post" style="background-color: <%= skill.color %>;"> -->
                <% for (q of skill.questions) { %>

                    <% if (q.active) { %>
                        <input type="text" name="Qid" id="" value="<%= q.id %>" style="display:none;">
                        
                        <div>
                            <span style="font-size: 20px; color: blue;"><%= q.text %>:   </span>
                            Pass:                        
                            <% if (results.includes(q.id)) { %> 
                                <label for="true">True </label>                
                                <input type="radio" name="<%= q.id %>" id="" value="true" checked="true">
                                
                                <label for="false">False </label>
                                <input type="radio" name="<%= q.id %>" id="" value="false">          
                            <% } %>
                                
                            <% if (!results.includes(q.id)) { %> 
                                <label for="true">True </label>                
                                <input type="radio" name="<%= q.id %>" id="" value="true">
                                <label for="false">False </label>
                                <input type="radio" name="<%= q.id %>" id="" value="false" checked="true">          
                            <% } %>                            
                        </div>
                                    
                    <% } %>

                <% } %>
                <input type="number" name="skill" id="" value="<%= i %>" style="display: none;">
                <input type="text" name="Sid" id="" value="<%= data.student._id %>" style="display: none;">
                <input type="submit" value="עדכן">
            </form>
                <% let grade = (results.length/skill.neto) * 100 %>
                <div>Grade: <%= grade %></div>

            <% if(grade >= 80 && skill.color != "lime") { %>
                <form action="nextStage" method="post">
                    <input type="submit" value="Next stage pass">
                    <input type="number" name="skill" id="" value="<%= i %>" style="display: none;">                    
                    <input type="text" name="color" id="" value="<%= skill.color %>" style="display: none;">
                    <input type="text" name="Sid" id="" value="<%= data.student._id %>" style="display: none;">
                    <input type="text" name="passQuestions" id="" value="<%= data.student.skills[i].questions %>" style="display: none;">
                </form>
            <% } %>
            <% i = i+1 %>
            
        <% } %>
    </div>
    <div style="text-align: center;">
        <form action="historyView" method="post">
            <input type="text" name="Sid" id="" value="<%= data.student._id %>" style="display: none;">
            <input type="submit" value="History view">
        </form>
        <a href="/stud" >Students list</a>
    </div>
</body>
</html>