<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student update</title>
</head>
<body style="text-align: center;">
    <%= data.name %>
    <h1><%= data.name %><br>ת.ז <%= data.info.id %></h1>

    <form action="<%= data._id %>" method="post">
        <label for="phone">טלפון</label>
        <input type="text" name="phone" id="phone" placeholder="<%= data.info.phone %>">
        <br>
        <label for="teacher"><%= data.info.teacher %> מורה עכשוי: </label>
        <label for="new-teacher">בחר מורה חדש</label>
        <div>
        <select name="new-teacher" id="new-teacher">
            <% for(let teach of teachers) { %>
                <option value="<%= teach._id%>"><%= teach.name%></option>
            <% } %>
        </div>
        </select>
       <div>
        <button class="btn btn-outline-secondary">עדכן</button>
       </div>
    </form>
    <!--Start, trying to add stud info-->
    <% let i = 0 %>
    <h1>Name: <%= data.name %></h1>    
    <br>
    <div>
        <% for(skill of data.skills) { %>
            <h2><%= skill.skill %></h2>
            <% let results = data.skills[i].questions %>            
            
            <!-- <form action="updateResult" method="post" style="background-color: <%= skill.color %>;"> -->
                <% for (q of skill.questions) { %>

                    <% if (q.active) { %>
                        <input type="text" name="Qid" id="" value="<%= q.id %>" style="display:none;">
                        
                        <div>
                            <span style="font-size: 20px; color: blue;"><%= q.text %>:   </span>
                            Pass:                        
                            <% if (results.includes(q.id)) { %> 
                                <label for="true">True </label>                
                                <input type="radio" name="<%= q.id %>" id="" value="true" checked="true">
                                
                                <label for="false">False </label>
                                <input type="radio" name="<%= q.id %>" id="" value="false">          
                            <% } %>
                                
                            <% if (!results.includes(q.id)) { %> 
                                <label for="true">True </label>                
                                <input type="radio" name="<%= q.id %>" id="" value="true">
                                <label for="false">False </label>
                                <input type="radio" name="<%= q.id %>" id="" value="false" checked="true">          
                            <% } %>                            
                        </div>
                                    
                    <% } %>

                <% } %>
                <input type="number" name="skill" id="" value="<%= i %>" style="display: none;">
                <input type="text" name="sId" id="" value="<%= data._id %>" style="display: none;">
                <input type="submit" value="עדכן">
            </form>
                <% let grade = (results.length/skill.neto) * 100 %>
                <div>Grade: <%= grade %></div>

            <% if(grade >= 80 && skill.color != "lime") { %>
                <form action="nextStage" method="post">
                    <input type="submit" value="Next stage pass">
                    <input type="number" name="skill"  value="<%= i %>" style="display: none;">                    
                    <input type="text" name="color"  value="<%= skill.color %>" style="display: none;">
                    <input type="text" name="sId"  value="<%= data._id %>" style="display: none;">
                    <input type="text" name="passQuestions"  value="<%= data.skills[i].questions %>" style="display: none;">
                </form>
            <% } %>
            <% i = i+1 %>
            
        <% } %>
    </div>
    <div style="text-align: center;">
        <form action="historyView" method="post">
            <input type="text" name="sId" id="" value="<%= data._id %>" style="display: none;">
            <input type="submit" value="History view">
        </form>
        <a href="/stud" >Students list</a>
    </div>
    <!--end, trying to add stud info-->
</body>
</html>