<% if (admin) { %>
    <%- include('../partiels/headerAdmin.ejs') %>
<% } %>
<% if (!admin) { %>
    <%- include('../partiels/headerTeacher.ejs') %>
<% } %>

<h1 class="title">סקירת שאלונים</h1>


<div style="direction:rtl;display: flex;">
    <h4>מקרא: </h4>
    <div class="stages-display">
        <div class="red">1</div>
        <div class="orange">2</div>
        <div class="yellow">3</div>
        <div class="aqua">4</div>
        <div class="lime">5</div>
    </div>
</div>

<div class="questionnaires-view">
    <% for (qeustionnaire of data) { %>
    <% if(qeustionnaire.color != "end") { %>
        <div style="background-color: <%= qeustionnaire.color %>; width: 32em; margin:5px; text-align:center;">
            <h3><%= qeustionnaire.skill %></h3>
            <% for (ques of qeustionnaire.questions) { %>
                <% if(ques.active) { %>
                    <div style="display: flex; width: auto;">
                      שאלה: <h6><%= ques.text %> </h6> &nbsp;
                      תשובה: <h6><%= ques.answer %> </h6>
                      &nbsp;&nbsp;&nbsp; פעילה
                    </div>
                <% } %>

                <% if(!ques.active) { %>
                    <div style="display: flex;">
                        <h6><%= ques.text %></h6> &nbsp;&nbsp;&nbsp; לא פעילה
                    </div>
                <% } %>
                    <br>
            <% } %>
            <% if(update) { %>
                <a href="http://localhost:3000/question/addNew/<%= qeustionnaire._id %>"><button  class="btn" id="sub-btn">עידכון שאלון</button></a>
            <% } %>
        </div>
    <% } %>
    <% } %>
</div>
</body>
</html>